.contact-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    /* padding: 50px 20px; */
  }
  
  .contact-icon img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .contact-icon:hover img {
    transform: scale(1.2);
    box-shadow: 0 0 15px #ffaa00, 0 0 30px #ffaa00;
  }
  