.tech-container {
    padding: 20px 20px;
    min-height: auto;
    text-align: center;
  }
  
  /* .tech-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: #ff4500;
    margin-bottom: 90px;
    -webkit-text-stroke: 1px black; 
    text-stroke: 1px black;       
  } */
  
  .tech-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
  }
  
  .tech-icon-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tech-icon-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    z-index: 2;
    margin-top: 62px;
    margin-right: 2.5px;
    transition: transform 1s ease;
  }

  .tech-icon-wrapper:hover .tech-icon-img {
    transform: scale(1.2); /* zoom in slightly */
  }
  /* Neon circle behind the icon */
  .tech-icon-wrapper::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90px; 
    height: 90px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 
    0 0 8px #ff4500,
    0 0 16px #ff6347,
    0 0 24px #ff8c00;
    animation: pulse 5s infinite ease-in-out;
    z-index: 1;
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 5px #ff4500, 0 0 10px #ff6347, 0 0 15px #ff8c00;
    }
    50% {
      box-shadow: 0 0 15px #ff4500, 0 0 20px #ff6347, 0 0 30px #ff8c00;
    }
    100% {
      box-shadow: 0 0 5px #ff4500, 0 0 10px #ff6347, 0 0 15px #ff8c00;
    }
  }  

  