body {
  background-color: #fff !important;
  margin: 0;
  padding: 0;
}

/* General layout */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 2rem;
}

/* Header styles */
.header {
  /* background-color: #f0f0f0; */
  padding: 1rem 2rem;
  text-align: center;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.header h2 {
  color: black;
}

.header .nav-link {
  margin: 0 1rem;
  color: #333;
  text-decoration: none;
}
/* 
.header .nav-link:hover {
  text-decoration: underline;
} */

/* Footer styles */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  color: #555;
  /* border-top: 1px solid #ddd; */
  flex-wrap: wrap;
}

.footer-left {
  flex: 1;
  text-align: left;
}

.footer-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  margin: 0 1rem;
  padding: 6px 12px;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  transition: all 0.1s ease;
}

.nav-link:hover {
  background-color: #f5f5f5;
}

/* Active link styles */
.home-active {
  border: 2px solid #1e90ff;
  background-color: #e6f0ff;
}

.education-active {
  border: 2px solid black;
  background-color: rgb(176, 176, 176);
}

.workexp-active {
  border: 2px solid #00ff00;
  background-color: #d3fbd3;
}

.coursework-active {
  border: 2px solid #f7dea8;
  background-color: #e9ba5b;
}

.tech-active {
  border: 2px solid #ff4500;
  background-color: #ffe6e6;
}

.projects-active {
  border: 2px solid #228b22;
  background-color: #e6ffe6;
}
